@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

#drum-machine {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 50vw;
    margin: 50px auto;
    padding: 10px;
    font-family: 'Orbitron';
    border-radius: 20px;
    border: 5px solid gray;
    box-shadow: 0 0 10px 5px;
    font-size: 14px;

    @media (max-height: 500px) and (max-width: 500px) {
        font-size: 8px;
    }
}

#drum-pads {
    background-color: gray;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto; 
    width: 50%;
    height: 90%;
    margin: auto;
    padding: 5px;
}

#display {
    background-color: red;
    width: 50%;
    height: 90%;
    margin: auto;
}